{% extends 'polls/index.html' %} 
{% load static %} {% block title %}images{%endblock title %} 
{% block body %}
<h1>List of images:</h1>
<div class="container fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'img1.jpg' %}" class="img-fluid" />
    </div>
    <div class="col-md-4">
      <img src="{% static 'img4.jpg' %}" class="img-fluid" />
    </div>
    <div class="col-md-4">
      <img src="{% static 'img3.jpg' %}" class="img-fluid" />
    </div>
   
    <div class="col-md-12 my-2">
      <img src="{% static 'a1.jpg' %}" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <img src="{% static 'a2.jpg' %}" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <img src="{% static 'a3.jpg' %}" class="img-fluid" />
    </div>
  </div>
</div>
{% endblock  %}
